# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
MyGameEngine/.vs/MyGameEngine/v15/Browse.VC.db
MyGameEngine/.vs/MyGameEngine/v15/Browse.VC.db
*.opendb
*.db
MyGameEngine/.vs/MyGameEngine/v15/.suo
MyGameEngine/.vs/MyGameEngine/v15/Browse.VC.db
MyGameEngine/.vs/MyGameEngine/v15/.suo
